<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa3JrsTubpYzzL-80IDpvl0bg6w7Yc45g</string>
	<key>GCM_SENDER_ID</key>
	<string>425513032535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.techzombie.tetris</string>
	<key>PROJECT_ID</key>
	<string>tetris2-3f58d</string>
	<key>STORAGE_BUCKET</key>
	<string>tetris2-3f58d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425513032535:ios:234b0ba909dfe7a3ac7c12</string>
</dict>
</plist>